# Virtual environment
.venv/
venv/
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3
instance/

# Uploads
backend/uploads/*
frontend/uploads/*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log